@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat+Alternates:wght@400;600&display=swap');

:root {
    --cor-primaria: #000000;
    --cor-secundaria: #F6F6F6;
    --cor-terciaria: #22D4FD;
    --cor-hover: #272727;

    /*paleta de cores 2*/
    /*--cor-primaria: #001B79;
    --cor-secundaria: #F6F6F6;
    --cor-terciaria: #ED5AB3;
    --cor-hover: #FF90C2;*/

    --fonte-primaria: 'Krona One', sans-serif;
    --fonte-secundaria: 'Montserrat Alternates', sans-serif;
}

* { /*reset css*/
    margin: 0;
    padding: 0;
}
body {
    height: 100vh; /*viewport height - 100% da tela do navegador*/
    box-sizing: border-box/*content-box*/; /*encolhe o elemento nao deixando o elemento filho sair do elemento pai, que neste caso e o body*/
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria);
}
.titulo-destaque {
    color: var(--cor-terciaria);
}
.apresentacao {
    margin: 5% 15%;
    display: flex;
    flex-direction: row;/*padrao*/
    align-items: center;
    justify-content: space-between;
}
.apresentacao__conteudo {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.apresentacao__conteudo__titulo {
    /* font-size: 36px; */
    /* 1 rem = 16px */
    font-size: 2.25rem;
    font-family: var(--fonte-primaria);
}

.apresentacao__conteudo__texto {
    font-size: 1.5rem;
    font-family: var(--fonte-secundaria);
}

.apresentacao__conteudo__links {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
}
.apresentacao__conteudo__links__link {
    display: flex;
    justify-content: center;
    gap: 16px;
    border: 2px solid var(--cor-terciaria);
    width: 50%;
    text-align: center;
    border-radius: 8px;
    font-size: 1.5rem;
    font-weight: 600;
    padding: 21.5px 0px;
    text-decoration: none;
    color: var(--cor-secundaria);
    font-family: var(--fonte-secundaria);
}

.apresentacao__conteudo__links__link:hover {
    /* border-color: #332777; */
    background-color: var(--cor-hover);
}

.apresentacao__conteudo__links__subtitulo {
    font-family: var(--fonte-primaria);
    font-weight: 400;
    font-size: 24px;
}

.apresentacao__imagem {
    width: 50%;
}

.rodape {
    padding: 24px;
    color: var(--cor-primaria);
    background-color: var(--cor-terciaria);
    text-align: center;
    font-family: var(--fonte-secundaria);
    font-weight: 400;
    font-size: 1.5rem;
}

.cabecalho {
    padding: 2% 0% 0% 15%;
}

.cabecalho__menu {
    display: flex;
    gap: 80px;
}

.cabecalho__menu__link {
    font-family: var(--fonte-secundaria);
    font-weight: 600;
    size: 24px;
    color: var(--cor-terciaria);
    text-decoration: none;
}